.products
	if condition
		.products__header.products-header
			h2.products-header__title=categoryTitle
			a.products-header__link(href=categoryLink) Смотреть все
	ul.products__list
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
