.products
	if condition
		.products__header.products-header
			h2.products-header__title=categoryTitle
			a.products-header__link(href=categoryLink)
				span Смотреть еще
	ul.products__list
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						ul.product-body__colors.colors-list
							li(style="background-color:#3262ad")
							li(style="background-color:#eb3b2d")
							li(style="background-color:#df601b")
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						ul.product-body__colors.colors-list
							li(style="background-color:#3262ad")
							li(style="background-color:#eb3b2d")
							li(style="background-color:#df601b")
							li(style="background-color:#e9ef55")
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						ul.product-body__colors.colors-list
							li(style="background-color:#3262ad")
							li(style="background-color:#eb3b2d")
							li(style="background-color:#df601b")
							li(style="background-color:#e9ef55")
							li(style="background-color:#82d33f")
							li(style="background-color:#1db147")
							li(style="background-color:#3fc9c6")
							li(style="background-color:#7459af")
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						ul.product-body__colors.colors-list
							li(style="background-color:#3262ad")
							li(style="background-color:#eb3b2d")
							li(style="background-color:#df601b")
							li(style="background-color:#e9ef55")
							li(style="background-color:#82d33f")
							li(style="background-color:#1db147")
							li(style="background-color:#3fc9c6")
							li(style="background-color:#7459af")
							li(style="background-color:#e751d8")
							li(style="background-color:#3262ad")
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.produsts__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text Игровой комплекс K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
