.products
	if condition
		.products__header.products-header
			h2.products-header__title=categoryTitle
			a.products-header__link(href=categoryLink)
				span Смотреть еще
				<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
					<path d="M4.5 9.5L7.5 6.5L4.5 3.5" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
	ul.products__list
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						//- ul.product-body__colors.colors-list
						//- 	li(style="background-color:#3262ad")
						//- 	li(style="background-color:#eb3b2d")
						//- 	li(style="background-color:#df601b")
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						//- ul.product-body__colors.colors-list
						//- 	li(style="background-color:#3262ad")
						//- 	li(style="background-color:#eb3b2d")
						//- 	li(style="background-color:#df601b")
						//- 	li(style="background-color:#e9ef55")
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						//- ul.product-body__colors.colors-list
						//- 	li(style="background-color:#3262ad")
						//- 	li(style="background-color:#eb3b2d")
						//- 	li(style="background-color:#df601b")
						//- 	li(style="background-color:#e9ef55")
						//- 	li(style="background-color:#82d33f")
						//- 	li(style="background-color:#1db147")
						//- 	li(style="background-color:#3fc9c6")
						//- 	li(style="background-color:#7459af")
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						//- ul.product-body__colors.colors-list
						//- 	li(style="background-color:#3262ad")
						//- 	li(style="background-color:#eb3b2d")
						//- 	li(style="background-color:#df601b")
						//- 	li(style="background-color:#e9ef55")
						//- 	li(style="background-color:#82d33f")
						//- 	li(style="background-color:#1db147")
						//- 	li(style="background-color:#3fc9c6")
						//- 	li(style="background-color:#7459af")
						//- 	li(style="background-color:#e751d8")
						//- 	li(style="background-color:#3262ad")
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						//- ul.product-body__colors.colors-list
						//- 	li(style="background-color:#3262ad")
						//- 	li(style="background-color:#eb3b2d")
						//- 	li(style="background-color:#df601b")
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						//- ul.product-body__colors.colors-list
						//- 	li(style="background-color:#3262ad")
						//- 	li(style="background-color:#eb3b2d")
						//- 	li(style="background-color:#df601b")
						//- 	li(style="background-color:#e9ef55")
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						//- ul.product-body__colors.colors-list
						//- 	li(style="background-color:#3262ad")
						//- 	li(style="background-color:#eb3b2d")
						//- 	li(style="background-color:#df601b")
						//- 	li(style="background-color:#e9ef55")
						//- 	li(style="background-color:#82d33f")
						//- 	li(style="background-color:#1db147")
						//- 	li(style="background-color:#3fc9c6")
						//- 	li(style="background-color:#7459af")
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						//- ul.product-body__colors.colors-list
						//- 	li(style="background-color:#3262ad")
						//- 	li(style="background-color:#eb3b2d")
						//- 	li(style="background-color:#df601b")
						//- 	li(style="background-color:#e9ef55")
						//- 	li(style="background-color:#82d33f")
						//- 	li(style="background-color:#1db147")
						//- 	li(style="background-color:#3fc9c6")
						//- 	li(style="background-color:#7459af")
						//- 	li(style="background-color:#e751d8")
						//- 	li(style="background-color:#3262ad")
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.products__item.product
			a(href="product.html")
				.product__inner
					article.product__card.item-ibg_contain
						img(src=`@img/catalog/${categoryImg}/item-1.png` loading="lazy", alt="product")
					.product__body.product-body
						h4.product-body__text K1012
						span.product-body__size 14 500 x 13 000 x 3 900
						span.product-body__price 27 500 000 р.
		li.product._to-category(style=`background-image: url(@img/catalog/${categoryImg}/poster-mobile.jpg)`)
			a(href="category.html")
				span Смотреть все
					svg(xmlns='http://www.w3.org/2000/svg' width='36' height='13' viewbox='0 0 36 13' fill='none')
						path(opacity='0.9' d='M35.5303 5.96967C35.8232 6.26256 35.8232 6.73744 35.5303 7.03033L30.7574 11.8033C30.4645 12.0962 29.9896 12.0962 29.6967 11.8033C29.4038 11.5104 29.4038 11.0355 29.6967 10.7426L33.9393 6.5L29.6967 2.25736C29.4038 1.96447 29.4038 1.48959 29.6967 1.1967C29.9896 0.903806 30.4645 0.903806 30.7574 1.1967L35.5303 5.96967ZM1 7.25C0.585786 7.25 0.25 6.91421 0.25 6.5C0.25 6.08579 0.585786 5.75 1 5.75V7.25ZM35 7.25H1V5.75H35V7.25Z' fill='#383838')




